.card{
    width: 250px;
    height: 300px;
    border: solid black;
    border-radius: 2em;
    background-color: rgb(26, 1, 58);
    padding-left: 5%;
    padding-right: 4%;
    padding-top: 4%;
}
img{
    width: 250px;
    
    border-radius: 20px;
}
p{
    text-align: justify;
    
  
}

.results{
    display: flex;
    flex-wrap: wrap;
    padding-top: 5%;
    gap: 40px;
    margin-bottom: 40px;
    justify-content: center;
}
a :hover{
    transform: scale(1.1);
}
h2 :hover{
    transform: scale(1);
}
p :hover{
    transform: scale(1);
}
img :hover{
    transform: scale(1);
}
.card :hover{
    transform: scale(1);
}