*{
    color: white;
}
h4{
    text-align: justify;
}
ul {
    list-style: none ;
    display: flex;
flex-wrap: wrap;
gap: 10px;
justify-content: center;
align-items: center;
}
header{
    border: 1px solid  rgb(16, 1, 29);
    background-color: rgb(31, 0, 59);
    position: fixed;
    width: 100%;
}
.icone{
    width: 50px;
}
.photo{
    width: 350px;
    border-radius: 200px;
}
main{
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5%;
    padding-top: 5%;
}
.app{
    background-color: rgb(38, 1, 87);
}
main section figure{
    padding-left: 30%;
    
}
article{
    padding-left: 30%;
    padding-right: 30%;
}
fieldset{
    border-radius: 30px;
    width: 320px;
}
legend{
    font-size: 20px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
textarea {
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    color:rgb(38, 1, 87) ;
}
input{
    width: 320px;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid;
    color:rgb(38, 1, 87) ;
}
p{
    font-size: large;
    font-weight: bold;
}
.icone:hover{
    transform: scale(1.2);
}
#submit{
   padding: 10px;
   font-weight: bold;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   font-size:medium;
   color: rgb(38, 1, 87);
}
a{
    text-decoration: none;
}
header nav ul a :hover{
    transform: scale(1.1);
}
html{
    scroll-behavior:smooth;
}
#inicio{
    padding-top: 8%;
}
#sobreMim{
    padding-top: 8%;
}
#ferramentas{
    padding-top: 8%;
}
#contato{
    padding-top: 8%;
}
#projetos{
    padding-top: 8%;
}
footer{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    background-color: rgb(24, 1, 44);
   padding-top: 1%;
   padding-bottom: 1%;
}
.iconeFooter{
    width: 30px;
}
#nome :hover{
transform: scale(1);
}

@media(max-width:821px){
    main section figure{
        padding-left: 5%;
        
    }
    article{
        padding-left: 5%;
        padding-right: 5%;
    }
    #inicio{
        padding-top: 12%;
    }
    #sobreMim{
        padding-top: 12%;
    }
    #ferramentas{
        padding-top: 12%;
    }
    #contato{
        padding-top: 12%;
    }
    #projetos{
        padding-top: 12%;
    }
}
@media(max-width:531px){
    main section figure{
        padding-left: 1%;
        
    }
    main{
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 5%;
        padding-top: 10%;
    }
    article{
        padding-left: 5%;
        padding-right: 5%;
    }
}
@media(max-width:437px){
    main{
        padding-left: 2%;
        padding-right: 2%;
        padding-bottom: 5%;
        padding-top: 10%;
    }
    header{
        right:10px
    }
}
@media(max-width:407px){
    
    article{
        padding-left: 1%;
        padding-right: 1%;
    }
    .photo{
        width: 300px;
    }
    #inicio{
        padding-top: 15%;
    }
    #sobreMim{
        padding-top: 15%;
    }
    #ferramentas{
        padding-top: 15%;
    }
    #contato{
        padding-top: 15%;
    }
    #projetos{
        padding-top: 15%;
    }
}
@media(max-width: 377px){
.photo{
    width: 200px;
}
input{
    width: 280px;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid;
    color:rgb(38, 1, 87) ;
}
textarea {
   width: 280px;
}
fieldset{
    border-radius: 30px;
    width: 300px;
}
#inicio{
    padding-top: 18%;
}
#sobreMim{
    padding-top: 18%;
}
#ferramentas{
    padding-top: 18%;
}
#contato{
    padding-top: 18%;
}
#projetos{
    padding-top: 18%;
}
article{
    padding-left: 3%;
    padding-right: 1%;
}

}
@media(max-width:377px){
    #submit{
        margin-left: 2%;
    }
    #inicio{
        padding-top: 23%;
    }
    #sobreMim{
        padding-top: 23%;
    }
    #ferramentas{
        padding-top: 23%;
    }
    #contato{
        padding-top: 23%;
    }
    #projetos{
        padding-top: 23%;
    }
}
@media(max-width:383px){
    #submit{
        margin-left: 2%;
    }
    #inicio{
        padding-top: 23%;
    }
    #sobreMim{
        padding-top: 23%;
    }
    #ferramentas{
        padding-top: 23%;
    }
    #contato{
        padding-top: 23%;
    }
    #projetos{
        padding-top: 23%;
    }
}
