ul {
    list-style: none ;
    display: flex;
flex-wrap: wrap;
gap: 10px;
justify-content: center;
align-items: center;
}
header{
    border: 1px solid;
}
.icone{
    width: 50px;
}
.photo{
    width: 350px;
    border-radius: 50px;
}
main{
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5%;
}
main section figure{
    padding-left: 30%;
    
}
article{
    padding-left: 30%;
    padding-right: 30%;
}
fieldset{
    border-radius: 30px;
}
legend{
    font-size: 20px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
textarea {
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
}
input{
    width: 320px;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid;
}
p{
    font-size: large;
    font-weight: bold;
}
.icone:hover{
    transform: scale(1.2);
}
#submit{
   padding: 10px;
   font-weight: bold;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   font-size:medium
}